REDIS_HOST="redis-123",
RESIS_PORT=123,
REDIS_PASSPORT="123",

DATABASE_URL=sqlite:///./test.db  # Replace with your actual database URL
CELERY_BROKER_URL=pyamqp://guest@localhost//
CELERY_RESULT_BACKEND=rpc://